@inherits LayoutComponentBase

@Body

<div id="blazor-error-ui" class="absolute bottom-0 left-0 w-full p-4 hidden">
    <div class="justify-between alert alert-error flex">
        <div class="flex space-x-2">
            <span>An unhandled error has occurred.</span>
            <a href="" class="underline">Reload</a>
        </div>
        <a class="font-bold text-black">🗙</a>
    </div>
</div>
